<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>CD79B117-01DB-45E5-AFE5-B02C67AF37D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4792F98A-30FA-4294-9A15-2A18C079D9FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4698E8DB-A26B-4A5C-BB50-2AD235EDDEC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>63E61060-A4A0-4714-AC63-D57B1B51462F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Steve Condylios</string>
	<key>description</key>
	<string>Opens tabs with grok, claude and chatgpt</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Multiple LLM Tabs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://chatgpt.com/?q={query}&amp;model=gpt-4o</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4792F98A-30FA-4294-9A15-2A18C079D9FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>llm</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open tabs with grok, claude and chatgpt</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD79B117-01DB-45E5-AFE5-B02C67AF37D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://claude.ai/new?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4698E8DB-A26B-4A5C-BB50-2AD235EDDEC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://x.com/i/grok?text={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>63E61060-A4A0-4714-AC63-D57B1B51462F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Instead of going to chatgpt.com, waiting for the site to load and typing in a prompt, press command + space then type llm &lt;prompt&gt; and hit return. It will open three browser tabs with the same prompt in grok, claude and chatgpt. Very ergonomic and avoids manual copy/pasting. Makes switching between the three convenient. Also very interesting to compare responses.</string>
	<key>uidata</key>
	<dict>
		<key>4698E8DB-A26B-4A5C-BB50-2AD235EDDEC0</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>4792F98A-30FA-4294-9A15-2A18C079D9FF</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>63E61060-A4A0-4714-AC63-D57B1B51462F</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>CD79B117-01DB-45E5-AFE5-B02C67AF37D7</key>
		<dict>
			<key>note</key>
			<string>Type your keyword into Alfred to trigger this workflow.</string>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
